<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Your song <b><%= @user_song.title %></b> has been paired with another user&apos;s song on Listen Pledge!</p>
    <p><%= link_to 'Visit the site now', pairing_users_url(@user) %> to see the paired song, listen to it, and provide feedback.</p>
    <p>Thanks,<br/>
    The Listen Pledge team</p>
  </body>
</html>
