<div class="row home_header">
  <div class="span6 listen_pledge">
    Listen Pledge
  </div>
  <div class="span6 features">
    <ul class="unstyled">
      <li>Pick one of your Soundcloud tracks and share it</li>
      <li>We pair you with someone else's shared track</li>
      <li>You both <em>pledge</em> to <em>listen</em> and provide feedback</li>
      <li>Simple!</li>
    </ul>
  </div>
  <div class="span12 centered" style="margin-top: 40px">
    <%= link_to image_tag('btn-connect-sc-l.png'), user_omniauth_authorize_path(:soundcloud) %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="row">
    <div class="span4 centered">
      <%= render :partial => 'users/user', :locals => {:user => current_user}%>
      <%= link_to 'Log out', destroy_user_session_path %>
    </div>
  </div>
<% end %>
