/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require twitter/bootstrap
*/

.row.top {
    margin-top: 40px
}

.user {
    width: 280px;
    height: 120px;
    margin: auto;
    position: relative;
}

.user .details {
    width: 160px;
    position: absolute;
    right: 0;
    top: 10px;
}

.user .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 10px;
}